 #login {
    display: none;
  }

  #loggedin {
    display: none;
  }

  body{
    background-color: beige;
  }

  .hero{
    background-color: orange;
  }

  .navbar{
    background-color:bisque ;
  }